body{
  margin: 0;
  font-family: 'Fira Sans', sans-serif;

}

header{
  height: 5rem;
  background-color: #1C5D99;
  padding: 1rem;
  font-family: 'Fira Sans', sans-serif;
  color: white;
}

header span{
  font-family: 'Lobster', sans-serif;
  font-size: 2rem;
}

header p{
  margin: 0;
}

.LeftPanel{
  width: 60%;
  background-color: #639FAB;
  height: 42vh;
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

/*.LeftPanel h2{
  font-family: 'Lobster', sans-serif;
  color: white;
}*/

.RightPanel{
  width: 40%;
  padding: 1rem;
  background-color: #222222;
  height: 42vh;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.BottomPanel{
  width: 100%;
  background-color: #BBCDE5;
  height: 25rem;
  padding: 1rem;
  justify-content: right;
  align-items: center;
}

footer{
  background-color: #1C5D99;
  height: 5rem;
  padding: 1rem;

}
.Main{
  display: flex;
}

.LeftPanel ul li{
  font-size: 1.5rem;
}

.RightPanel h1, p{
  color: #fff;

}
