body{
  margin: 0;
  padding: 0;
}

header{
  height: 5rem;
  background-color: #1C5D99;
  padding: 1rem;
}

header p{
  margin: 0;
}

.LeftPanel{
  width: 60%;
  background-color: #639FAB;
  height: 42vh;
  display:flex;
  justify-content: left;
  align-items: center;
  padding: 1rem;
}

.RightPanel{
  width: 40%;
  padding: 1rem;
  background-color: #222222;
  height: 42vh;
  justify-content: right;
  align-items: center;
}

.BottomPanel{
  width: 100%;
  background-color: #BBCDE5;
  height: 25rem;
  padding: 1rem;
  justify-content: right;
  align-items: center;
}

footer{
  background-color: #1C5D99;
  height: 5rem;
  padding: 1rem;

}
.Main{
  display: flex;
}